# Copyright (C) 2024-2025 Mitsubishi Electric Research Laboratories (MERL)
#
# SPDX-License-Identifier: AGPL-3.0-or-later

dataset:
  upsample:
  train_subjects:
  valid_subjects:
  test_subjects:
  features:
  retrieval:
  npool: 1  # not used
  nretrieval: 1  # not used
  azimuth_calibration: true
  retrieval_priority: itdd  # not used
  signal:
    concat_tgt_signal: false # not used
device: cuda:0
seed: 0
persistent_workers: false
learning:
  num_epoch: 200
  batch_size: 64
  num_workers: 1
  clip: 10.0
  patience: 20
adaptation:
  num_epoch: 1000
  batch_size: 3
  num_workers: 1
  clip: 1.0
model:
  name: PEFTNeuralField
  config:
    hidden_features: 256
    hidden_layers: 4
    out_features: 258
    scale: 1.0
    dropout: 0.1
    n_listeners: 213
    activation: GELU
    peft: lora
    itd_skip_connection: true
optimizer:
  name: RAdam
  config:
    lr: 0.001
scheduler:
  name: ReduceLROnPlateau
  config:
    mode: min
    factor: 0.9
    patience: 10
loss:
  weight_itd: 1.0
  eps: 1.0e-05
  threshold_itd: 0.5
